/****** transaction types related to balance  ******/

SELECT *
  FROM [M3_MAIN].[dbo].[iO_Control_ProductBalance]

SELECT xtrmb_idlink_xtrm
  FROM [M3_MAIN].[dbo].[iO_Control_TransactionBalance]
  where XTRMb_IDLink_XRBl='{cf421ec7-af23-474c-9f8f-46e6b899075f}' --//Loan\Standard\Principal